streamlit==1.55.0
pyalex==0.18
pandas>=2.3.3               # or >=3.0.0 if possible
psycopg2-binary>=2.9.9      # or no version pin
python-dotenv
requests
setuptools                  # usually not needed, but harmless
